*{
    font: optional;
}
body {
	background-color:#EEE2DC ;
}
.container {
	background-color: #EDC7B7;
	width: 70%;
	height: 95vh;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}
.container h1 {
    color: #AC3B61;
}
.container button {
    background-color: #EEE2DC;
	margin-top: 50px;
	padding: 30px;
	border-radius: 35%;
	font-size: 20px;
    border: 1px solid hsl(0, 0%, 28%);
    box-shadow: 0 9px #999;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #AC3B61;
}
.container button:active{
        background-color: #e0bdad;
        box-shadow: 0 5px #666;
        transform: translateY(10px);
} /*animacija za klik na dugme za stvaranje citata*/

#citat {
	font-size: 20px;
    background-color: #EEE2DC;
    border-radius: 10%;
	padding: 10px;
	margin-top: 50px;
    text-align: center;
    color: #AC3B61;
}
h2{
    color: #AC3B61
}

.inline{
    font-size: 23px;
    color: #AC3B61;
}

#motivacioni #slobodni{
    cursor: pointer;
}

#brojac-citata{
    width: 100px;
    height: 25px;
}